{% extends 'profile-base.html.twig' %}

{% block title %}Admin - Utilisateur ({{ user.name }}){% endblock %}

{% block name %}Utilisateur n{{ user.id }}{% endblock %}

{% block body %}

{# Information #}
{% set address = user.address.line ~ ' ' ~ user.address.zipCode ~ ' ' ~ user.address.city %}

{% set informations = [
    { title: 'Nom', text: user.name, icon: 'bxs-user', color: 'blue-100' },
    { title: 'Email', text: user.email, icon: 'bxs-envelope', color: 'yellow-100' },
    { title: 'Téléphone', text: user.phone, icon: 'bxs-phone', color: 'green-100' },
    { title: 'Adresse', text: address, icon: 'bxs-home', color: 'orange-100' }
] %}

<div class='grid grid-cols-4 gap-5'>
    {% for info in informations %}
        {% include 'components/card.html.twig' with {
            title: info.title,
            text: info.text,
            icon: info.icon,
            color: info.color
        } only %}
    {% endfor %}
</div>

{% endblock %}
