{% extends 'profile-base.html.twig' %}

{% block title %}
    {{ 'profile.request.show.title'|trans({'%title%': request.title}) }}
{% endblock %}

{% block name %}
    {{ 'profile.request.show.name'|trans({'%title%': request.title}) }}
{% endblock %}

{% block body %}
    {% embed 'components/dashboard/chat/chat.html.twig' with {
        info: request,
        values: request.discussions,
        form: form,
    } %}
        {% block values %}
            <div class="flex items-center">
                <p class="break-normal">
                    {{ value.content }}
                </p>
            </div>
        {% endblock %}

        {% block form %}
            {{ form_row(form.content, { attr: { class: "w-full"}}) }}
        {% endblock %}
    {% endembed %}

{% endblock %}
