{% extends 'profile-base.html.twig' %}

{% block title %}
    Admin - {{ 'admin.document_category.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'admin.document_category.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% set keys = [
        'admin.document_category.list.table.id'|trans(),
        'admin.document_category.list.table.label'|trans(),
        'admin.document_category.list.table.action'|trans()
    ] %}

    {% set data = ['id', 'label'] %}

    {% embed 'components/dashboard/table.html.twig' with {
        root: root,
        keys: keys,
        values: documentCategories,
        page: page,
        total: documentCategoriesCount,
        gridSize: 'grid-cols-3',
    } %}
        {% block buttons %}
            {% include 'components/dashboard/button-table.html.twig' with {
                root: 'app_admin_document_category_new',
                rootParams: null,
                icon: 'bxs-plus-circle',
                text: 'admin.document_category.list.add'|trans(),
            } %}
        {% endblock %}

        {% block values %}
            {% for d in data %}
                <div class="flex items-center">
                    <p class="truncate mr-5">
                        {{ attribute(value, d) }}
                    </p>
                </div>
            {% endfor %}
            <div class="flex items-center gap-1">
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    root: 'app_admin_documents',
                    rootParams: null,
                    icon: 'bxs-edit',
                    isBlank: true,
                    isDanger: false,
                } %}
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    root: 'app_admin_documents',
                    rootParams: null,
                    icon: 'bxs-trash',
                    isBlank: false,
                    isDanger: true,
                } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
