{% extends 'profile-base.html.twig' %}

{% block title %}
    Admin - {{ 'admin.document_category.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'admin.document_category.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class="bg-custom-green-100 mb-12 rounded-xl p-5 text-center font-bold" role="alert">
            {{ flash }}
        </div>
    {% endfor %}

    {% set keys = [
        'admin.document_category.list.table.id'|trans(),
        'admin.document_category.list.table.label'|trans(),
        'admin.document_category.list.table.action'|trans()
    ] %}

    {% set data = ['id', 'label'] %}

    {% embed 'components/dashboard/table.html.twig' with {
        root: root,
        keys: keys,
        values: documentCategories,
        page: page,
        total: documentCategoriesCount,
        gridSize: 'grid-cols-3',
    } %}
        {% block buttons %}
            {% include 'components/dashboard/button-table.html.twig' with {
                icon: 'bxs-eye',
                text: 'admin.document_category.list.button.documents'|trans(),
                root: 'app_admin_documents',
                rootParams: null,
            } %}
            {% include 'components/dashboard/button-table.html.twig' with {
                icon: 'bxs-plus-circle',
                text: 'admin.document_category.list.button.add'|trans(),
                root: 'app_admin_document_category_new',
                rootParams: null,
            } %}
        {% endblock %}

        {% block values %}
            {% for d in data %}
                <div class="flex items-center">
                    <p class="truncate mr-5">
                        {{ attribute(value, d) }}
                    </p>
                </div>
            {% endfor %}
            <div class="flex items-center gap-1">
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-edit',
                    tooltip: 'admin.document_category.list.action.edit'|trans(),
                    root: 'app_admin_document_category_edit',
                    rootParams: { category: value.id },
                    isBlank: false,
                    isDanger: false,
                } %}
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-trash',
                    tooltip: 'admin.document_category.list.action.delete'|trans(),
                    root: 'app_admin_document_category_delete',
                    rootParams: { category: value.id },
                    isBlank: false,
                    isDanger: true,
                } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
