@import 'tailwindcss';
@import './boxicons.min.css';
@source not '../../public';

@theme {
    --color-custom-dark-100: #313d4f;
    --color-custom-dark-200: #323d4e;
    --color-custom-dark-300: #273142;
    --color-custom-dark-400: #1b2431;

    --color-custom-gray-100: #979797;

    --color-custom-orange-100: #ff9066;
    --color-custom-orange-200: #ff8743;

    --color-custom-blue-100: #4880ff;

    --color-custom-yellow-100: #fec53d;

    --color-custom-green-100: #4ad991;

    --color-custom-red-100: #f93c65;
    --color-custom-red-200: #ef3826;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('../fonts/nunito-sans.ttf') format('truetype');
}

body {
    font-family: Nunito-Sans, Arial, Helvetica, sans-serif;
}

/* Scrollbar */

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Form Result Address */

.form-result-address-container {
    position: absolute;
    top: 3.2rem;
    width: 100% !important;
    max-height: 10.7rem;
    background-color: var(--color-custom-dark-200);
    border-radius: 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 99;
}

.form-result-address-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 0.15rem solid var(--color-custom-dark-300);
}

.form-result-address-item:hover {
    background-color: var(--color-custom-dark-400);
}

/* Date Picker */

.air-datepicker-nav--title:hover,
.air-datepicker-nav--action:hover,
.air-datepicker-cell.-focus-,
.air-datepicker-cell.-selected-.-focus-,
.air-datepicker-cell.-month-.-focus-,
.air-datepicker-cell.-selected-.-focus-,
.air-datepicker-button:hover,
.air-datepicker-cell.-selected-.-current- {
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.air-datepicker,
.air-datepicker--pointer::after {
    border: 1px solid var(--color-custom-dark-100);
}

.air-datepicker-nav,
.air-datepicker--content {
    border-bottom: 1px solid var(--color-custom-dark-100);
}

.air-datepicker-nav,
.air-datepicker--content,
.air-datepicker--buttons,
.air-datepicker--pointer::after {
    background-color: var(--color-custom-dark-300);
}

.air-datepicker-nav--title,
.air-datepicker-cell.-day-,
.air-datepicker-cell.-month-,
.air-datepicker-cell.-year- {
    color: white;
}

.air-datepicker-cell.-current-.-focus- {
    color: var(--color-custom-orange-100);
}

.air-datepicker-nav--title:hover,
.air-datepicker-nav--action:hover,
.air-datepicker-cell.-focus-,
.air-datepicker-cell.-selected-.-focus-,
.air-datepicker-cell.-month-.-focus- {
    background-color: var(--color-custom-dark-100);
}

.air-datepicker--buttons {
    border-top: 1px solid var(--color-custom-dark-100);
}

.air-datepicker-body--day-name,
.air-datepicker-button,
.air-datepicker-cell.-current- {
    color: var(--color-custom-orange-200);
}

.air-datepicker-body--day-name {
    font-weight: bold;
}

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-nav--title i,
.air-datepicker-cell.-year-.-other-decade- {
    color: var(--color-custom-gray-100);
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-current-.-selected {
    background-color: var(--color-custom-orange-200);
}

.air-datepicker-cell.-selected-.-focus-,
.air-datepicker-button:hover,
.air-datepicker-cell.-selected-.-current- {
    background-color: var(--color-custom-orange-100);
    color: white;
}
