<a href="{{ rootParams != null ? path(root, rootParams) : path(root) }}" target="{{ isBlank == true ? '_blank' : '_self' }}">
    <i class="{{ icon }} {{ isDanger == true ? 'bg-custom-red-100 rounded-xl p-3 hover:bg-custom-red-200' : 'bg-custom-dark-200 rounded-xl p-3 hover:bg-custom-dark-400' }} transition"></i>
</a>
