<a href="{{ rootParams != null ? path(root, rootParams) : path(root) }}" class="flex items-center rounded-xl bg-custom-orange-200 p-3 hover:bg-custom-orange-100 font-bold transition">
    <i class="{{ icon }} text-2xl mr-2"></i>
    {{ text }}
</a>
