{% extends 'profile-base.html.twig' %}

{% block title %}
    Admin - {{ 'admin.request.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'admin.request.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% embed 'components/dashboard/chat/chat.html.twig' with {
        info: request,
        values: request.discussions,
        form: form,
    } %}
        {% block values %}
                <div class="flex items-center">
                    <p class="break-normal">
                        {{ value.content }}
                    </p>
                </div>
        {% endblock %}

        {% block form %}
            {{ form_widget(form.content, { attr: { class: "w-full rounded-l-xl" } }) }}
        {% endblock %}
    {% endembed %}

{% endblock %}
